
  <div class="ae-grid au-xs-ta-center au-mb-4 animated fadeIn">
    <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/team-1.jpg" alt="" class="au-mb-3">
      <h5 class="ae-u-bolder au-mt-2">Jose Vnetura</h5>
      <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4"></p><a href="#0" class="ae-u-bolder au-underline">@robertwilliams</a>
    </div>
    <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/team-2.jpg" alt="" class="au-mb-3">
      <h5 class="ae-u-bolder au-mt-2">Angelina B. Widow</h5>
      <p class="ae-u-bolder au-mb-3"></p>
      <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4"></p><a href="#0" class="ae-u-bolder au-underline">@angelinawidow</a>
    </div>
    <div class="ae-grid__item item-lg-4 ae-kappa au-mb-3"><img src="assets/img/team-3.jpg" alt="" class="au-mb-3">
      <h5 class="ae-u-bolder au-mt-2">Patrick Anderson</h5>
      <p class="ae-u-bolder au-mb-3"></p>
      <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4"></p><a href="#0" class="ae-u-bolder au-underline">@patrickanderson</a>
    </div>
  </div>
